.gallery {
    border: 1px solid silver;
}
.gallery > div {
    padding: 5px;
    margin: 10px;
    max-width: 600px;

    text-align: center;
}
.gallery a {
    color: #AAA;
    text-decoration: none;
}

.gallery .caption {
    font-style: italic;
}
.gallery .caption time {
    display: block;
}
.gallery img {
    height: 200px;
}

div.markers {
    font-size: 12px;
    display: flex;
    border: 1px solid grey;
    visibility: visible;
    margin-top: 2pt;
    color:white;
    flex-wrap: wrap;
}
div.markers > div {
    height: auto;
    padding: 5px;
    min-width: 80px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.legend {
    justify-content: flex-start;
}

h3 {
    font-size: 12pt;
    margin: 1em 0 0.2em;
}